html {
  min-height: 100vh;
  box-sizing: border-box;
}

#time {
  min-height: 100vh;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: black;*/
}

#nameInput {
  clear: left;
}

#time h1 {
  display: block;
  /* margin-top: -100px; */
  font-size: 10vw;
  font-weight: 200;
  /*text-shadow: 0 2px 10px grey;*/
  padding: 0 40px;
  /*color: rgba(0,0,0,0);*/
  box-shadow: 0 2px 10px #aaa inset;
  /*border: 1px solid #aaa;*/
  overflow: hidden;
}

@media (min-width: 1200px) {
  #time h1 {
    font-size: 100px;
  }
}

#scenario {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

hr#separator {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}