html {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#time {
  min-height: 100vh;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: black;*/
}

/*div.col-sm-12 {
  background: black;
  height: 10%;
}*/

#time h1 {
  display: block;
  margin-top: -100px;
  font-size: 80px;
}

#scenario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}